#container {
    max-width: 1200px;
}

.card-image {
    height: calc(800px / 3);
}

#content-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 50px;
}

.equipment-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

#total-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    background-color: whitesmoke;
    border: solid 1px gray;
    border-radius: 8px;
    padding: 10px;
}

.offer-avatar {
    width: 100px !important;
    height: 100px !important;
}

.MuiListItem-root {
    gap: 10px;
}

@media (max-width: 1000px) {
    #content-container {
        justify-content: center;
    }
}

@media (max-width: 600px) {
    .equipment-container {
        display: block;
    }

    .card-image {
        height: calc(500px / 3);
    }
}