#page {
  padding: 20px;
}

#landing-image {
  height: 450px;
  width: 100%;
}

#offers-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
}




@media (max-width: 600px) {
  #landing-image {
    height: 350px;
  }
}